@model leaseEase.Domain.Models.helpers.officeDetailsModel
@{
    ViewBag.Title = "Office Details";
}
@{
    var user = (leaseEase.Domain.Models.User.UserMinData)System.Web.HttpContext.Current.Session["SessionUser"];
}
<div>
    <h1 class="ind-t3">@Html.DisplayFor(model => model.Office.Name)</h1>
    @if (user != null && user.Favourites.Contains(Model.Office))
    {
        <div class="remove-fav-link" data-id="@Model.Office.Id">
            <img src='~/Content/images/Heart.svg' alt="" height="20" />
            <p>Remove from favourites</p>
        </div>
    }
    else
    {
        <div class="add-fav-link" data-id="@Model.Office.Id">
            <img src='~/Content/images/Heart-empty.svg' alt="" height="20" />
            <p>Add to favourites</p>
        </div>
    }
    <div class="details-photo" style="background-image: url('data:image/png;base64,@Convert.ToBase64String(Model.Office.Image)');">
    </div>
</div>
<div>
    <h3>Views: @Html.DisplayFor(model => model.Office.Views)</h3>
    <h3>Office Amenities</h3>
    <div class="amenities-container">
        @{
            foreach (var amenity in Model.Office.Facilities)
            {
                <div class="amenity-item">
                    <div>@amenity.Name</div>
                </div>
            }
        }
    </div>
</div>

<a href="@Url.Action("NewBooking", "Office", new { id = Model.Office.Id })"><button type="button" class="signup">Book Now</button></a>


@using (Html.BeginForm("NewReview", "Office", FormMethod.Post, new { @id = "reviewForm", enctype = "multipart/form-data" }))
{
    <div class="login-column" id="login-column">
        <p class="login-signup-texts">Add your review</p>
        <div class="login-container">
            @Html.HiddenFor(e => e.Review.OfficeId, new { type = "number", Value = Model.Office.Id, @style = "display:none;" })

            @Html.TextBoxFor(e => e.Review.Text, new
       {
           type = "text",
           placeholder = "Review",
           autocomplete = "nope",
           @class = "login-input"
       })
            @Html.TextBoxFor(e => e.Review.Rating, new
       {
           type = "number",
           placeholder = "Rating",
           autocomplete = "nope",
           @class = "login-input"
       })

            <button type="submit" class="login-button">Save</button>
        </div>
    </div>
}
