<!-- Footer -->
@{
    var user = (leaseEase.Domain.Models.User.UserMinData)System.Web.HttpContext.Current.Session["SessionUser"];
}
<div class="footer-content">
    <a href="@Url.Action("Index", "Home")" class="logo">
        <div class="logo">
            <img src="~/Content/images/logo.svg" alt="" class="logo-dark" height="47" />
            <p class="logo-title">LeaseEase</p>
        </div>
    </a>
    <div class="links-footer">
        <div class="links-group">
            <a href="@Url.Action("Index", "Home")" class="link-footer">
                Home
            </a>
            <a href="@Url.Action("BecomeCreator", "User")" class="link-footer">
                Become a Landlord
            </a>
                <a href="@Url.Action("CreateNew", "Office")" class="link-footer">
                    Create offer
                </a>
        </div>
        <div class="links-group">
            <a href="@Url.Action("Search", "Home")" class="link-footer">
                Search
            </a>
            <a href="@Url.Action("Favourites", "User")" class="link-footer">
                Favorite offers
            </a>
            <a href="@Url.Action("MyBookings", "User")" class="link-footer">
                My Bookings
            </a>
        </div>
        <div class="links-group">
            <a href="@Url.Action("Chats", "User")" class="link-footer">
                Chats
            </a>
        </div>
    </div>
    <div class="social">
        <img src="~/Content/images/twitt.svg" alt="" class="twitt" height="43" />
        <img src="~/Content/images/insta.svg" alt="" class="insta" height="43" />
        <img src="~/Content/images/fb.svg" alt="" class="fb" height="43" />
    </div>
</div>
<!-- Footer -->
