@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LeaseEase</title>
    @Styles.Render("~/bundles/style1/css")
</head>
<body>
    <header>
        @Html.Partial("_Header")
    </header>

    @*body*@
    @RenderBody()
    @*body*@

    <footer class="footerg">
        @Html.Partial("_Footer")
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app1/js")
</body>
</html>